infra/n8n-workflow-external-repo.json
{
  "name": "GCA — Leitura de Repositório Externo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "read-external-repo",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [250, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.analyze_url }}",
        "options": {
          "timeout": 300000
        }
      },
      "name": "Chamar Engine GCA",
      "type": "n8n-nodes-base.httpRequest",
      "position": [500, 300],
      "typeVersion": 4
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'triggered', result: $json }) }}"
      },
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [750, 300],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Chamar Engine GCA", "type": "main", "index": 0 }]
      ]
    },
    "Chamar Engine GCA": {
      "main": [
        [{ "node": "Responder", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionTimeout": 600
  }
}
