n8n/pipeline_workflow_template.json
{
  "id": "1",
  "name": "GCA Pipeline - CodeGen to QA",
  "active": true,
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "gca-pipeline",
      "parameters": {
        "httpMethod": "POST",
        "path": "gca-pipeline",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "codegen-1",
      "name": "Generate Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "POST",
        "url": "=http://gca-backend:8000/api/v1/projects/{{ $json.body.project_id }}/backlog/{{ $json.body.backlog_item_id }}/generate-code",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.body.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "testgen-1",
      "name": "Generate Tests",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300],
      "parameters": {
        "method": "POST",
        "url": "=http://gca-backend:8000/api/v1/projects/{{ $('Webhook Trigger').item.json.body.project_id }}/backlog/{{ $('Webhook Trigger').item.json.body.backlog_item_id }}/generate-tests",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook Trigger').item.json.body.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "security-1",
      "name": "Security Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "parameters": {
        "method": "POST",
        "url": "=http://gca-backend:8000/api/v1/projects/{{ $('Webhook Trigger').item.json.body.project_id }}/backlog/{{ $('Webhook Trigger').item.json.body.backlog_item_id }}/security-scan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook Trigger').item.json.body.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "compliance-1",
      "name": "Compliance Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300],
      "parameters": {
        "method": "POST",
        "url": "=http://gca-backend:8000/api/v1/projects/{{ $('Webhook Trigger').item.json.body.project_id }}/backlog/{{ $('Webhook Trigger').item.json.body.backlog_item_id }}/compliance-check",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook Trigger').item.json.body.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {"main": [[{"node": "Generate Code", "type": "main", "index": 0}]]},
    "Generate Code": {"main": [[{"node": "Generate Tests", "type": "main", "index": 0}]]},
    "Generate Tests": {"main": [[{"node": "Security Scan", "type": "main", "index": 0}]]},
    "Security Scan": {"main": [[{"node": "Compliance Check", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1"
  }
}
