n8n-workflows/02-gca-conferente.json
{
  "id": "gca-conferente-v3",
  "name": "02 - GCA Conferente (Roteador/Classificador)",
  "active": true,
  "nodes": [
    {
      "id": "conf-wh-01",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "gca-conferente",
      "alwaysOutputData": true,
      "parameters": {
        "httpMethod": "POST",
        "path": "gca-conferente",
        "responseMode": "onReceived",
        "responseCode": 202,
        "options": {}
      }
    },
    {
      "id": "conf-log-inicio",
      "name": "Log - Inicio Conferente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 400],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/internal/pipeline-log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ts: new Date().toISOString(), ingestion_id: $json.body?.ingestion_id || $json.ingestion_id || 'unknown', workflow: '02-conferente', node: 'webhook', event: 'started', persona_tag: null, duration_ms: 0, detail: 'Envelope recebido pelo Conferente', error: null }) }}",
        "options": { "timeout": 5000 }
      }
    },
    {
      "id": "conf-hmac-verify",
      "name": "Verificar HMAC G1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 400],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/internal/hmac/verify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body_raw: JSON.stringify($('Webhook Trigger').first().json.body || $('Webhook Trigger').first().json), signature: $('Webhook Trigger').first().json.headers?.['x-normalizer-signature'] || $('Webhook Trigger').first().json.headers?.['X-Normalizer-Signature'] || '', secret_name: 'NORMALIZER_SECRET' }) }}",
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "conf-g1-validar",
      "name": "G1 - Validar entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 400],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "// G1 — Valida resultado do HMAC + normalized_text + extraction_metadata\n// SEM require(), SEM $env\n\nconst hmacResult = $input.first().json;\nconst webhookData = $('Webhook Trigger').first().json;\nconst body = webhookData.body || webhookData;\n\nif (!hmacResult.valid) {\n  throw new Error('G1_AUTH_FAILED: Assinatura HMAC inválida — ' + (hmacResult.detail || ''));\n}\n\nconst { ingestion_id, project_id, normalized_text, extraction_metadata, provider_chain, callback_url } = body;\n\nconst UUID_V4_REGEX = /^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;\nif (!ingestion_id || !UUID_V4_REGEX.test(ingestion_id)) {\n  throw new Error('G1_INVALID: ingestion_id deve ser UUID v4');\n}\nif (!project_id) throw new Error('G1_INVALID: project_id ausente');\nif (!normalized_text || !normalized_text.trim()) throw new Error('G1_INVALID: normalized_text vazio ou ausente');\nif (normalized_text.length > 200000) throw new Error(`G1_INVALID: normalized_text excede 200000 chars (${normalized_text.length})`);\nif (!extraction_metadata || typeof extraction_metadata !== 'object') throw new Error('G1_INVALID: extraction_metadata ausente');\nconst requiredMeta = ['source_format', 'original_size_bytes', 'normalized_char_count', 'extraction_method'];\nfor (const f of requiredMeta) {\n  if (extraction_metadata[f] === undefined || extraction_metadata[f] === null) {\n    throw new Error(`G1_INVALID: extraction_metadata.${f} ausente`);\n  }\n}\nif (!provider_chain || !Array.isArray(provider_chain) || provider_chain.length === 0) {\n  throw new Error('G1_INVALID: provider_chain ausente ou vazia');\n}\nif (!callback_url) throw new Error('G1_INVALID: callback_url ausente');\n\nreturn [{\n  json: {\n    ingestion_id,\n    project_id,\n    normalized_text,\n    extraction_metadata,\n    provider_chain,\n    callback_url,\n    g1_validated_at: new Date().toISOString()\n  }\n}];\n"
      }
    },
    {
      "id": "conf-montar-prompt",
      "name": "Montar prompt Conferente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "// Monta prompt para o LLM classificar o documento e decidir personas ativas\n// GP é orquestrador — SEMPRE ativado automaticamente, NÃO entra em active_personas\n// SEM require(), SEM $env\n\nconst item = $input.first().json;\n\nconst SYSTEM_PROMPT = `Você é o Conferente (AUD) do pipeline GCA.\nClassifique o documento e decida quais especialistas analisar.\n\nTags disponíveis (active_personas): AUD, ARQ, DBA, DEV, QA, UX, UI, SEG, CONF, LGPD, NEG\nGP NÃO entra em active_personas — é orquestrador ativado automaticamente.\n\nRetorne JSON estrito:\n{\n  \"doc_classification\": { \"primary_type\": \"string\", \"secondary_types\": [], \"sensitivity\": \"public|internal|confidential|regulated\" },\n  \"active_personas\": [\"AUD\", \"CONF\", ...],\n  \"shared_context\": { \"summary\": \"string\", \"stakeholders\": [], \"systems_referenced\": [], \"critical_dates\": [] },\n  \"chunking_strategy\": \"single|section_split\"\n}\n\nREGRAS:\n- CONF (bloqueante) SEMPRE ativado\n- AUD SEMPRE ativado\n- Mínimo 3 personas em active_personas\n- Código → ARQ, DEV, QA, SEG; +DBA se persistência; +UI/UX se interface\n- Documento jurídico → CONF, LGPD, NEG\n- Especificação funcional → ARQ, DEV, QA, UX, UI, NEG\n- Em dúvida, ative mais — falso negativo custa mais que análise extra\n- Retorne APENAS JSON válido, sem markdown`;\n\nconst textForClassification = item.normalized_text.substring(0, 150000);\n\nconst userMessage = JSON.stringify({\n  ingestion_id: item.ingestion_id,\n  source_format: item.extraction_metadata.source_format,\n  char_count: item.extraction_metadata.normalized_char_count,\n  extraction_warnings: item.extraction_metadata.extraction_warnings || [],\n  document_text: textForClassification\n}, null, 2);\n\nreturn [{ json: { ...item, conferente_system_prompt: SYSTEM_PROMPT, conferente_user_message: userMessage } }];\n"
      }
    },
    {
      "id": "conf-llm-classificar",
      "name": "LLM - Classificar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 400],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $json.provider_chain[0].provider === 'anthropic' ? 'https://api.anthropic.com/v1/messages' : ($json.provider_chain[0].base_url || 'https://api.openai.com') + '/chat/completions' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $json.provider_chain[0].api_key }}" },
            { "name": "Authorization", "value": "=Bearer {{ $json.provider_chain[0].api_key }}" },
            { "name": "anthropic-version", "value": "2023-06-01" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.provider_chain[0].provider === 'anthropic' ? JSON.stringify({ model: $json.provider_chain[0].model, max_tokens: 1500, temperature: 0, system: $json.conferente_system_prompt, messages: [{ role: 'user', content: $json.conferente_user_message }] }) : JSON.stringify({ model: $json.provider_chain[0].model, max_tokens: 1500, temperature: 0, messages: [{ role: 'system', content: $json.conferente_system_prompt }, { role: 'user', content: $json.conferente_user_message }] }) }}",
        "options": { "timeout": 60000 }
      }
    },
    {
      "id": "conf-parse-g2",
      "name": "Parse resposta e G2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 400],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "// Extrai JSON da resposta LLM e aplica Gate G2\n// GP não entra em active_personas mas é contado em expected_count (+1)\n// SEM require(), SEM $env\n\nconst llmResponse = $input.first().json;\nconst upstream = $('Montar prompt Conferente').first().json;\n\nlet rawText = '';\nif (llmResponse.content && Array.isArray(llmResponse.content)) {\n  rawText = llmResponse.content.map(c => c.text || '').join('');\n} else if (llmResponse.choices && Array.isArray(llmResponse.choices)) {\n  rawText = llmResponse.choices[0]?.message?.content || '';\n} else {\n  throw new Error('G2_PARSE_FAILED: Estrutura de resposta LLM desconhecida');\n}\n\nrawText = rawText.trim();\nif (rawText.startsWith('```')) {\n  rawText = rawText.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '').trim();\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawText);\n} catch (e) {\n  throw new Error(`G2_PARSE_FAILED: JSON inválido: ${e.message}. Trecho: ${rawText.substring(0, 200)}`);\n}\n\n// --- Gate G2 ---\nconst TAGS_VALIDAS = new Set(['AUD', 'ARQ', 'DBA', 'DEV', 'QA', 'UX', 'UI', 'SEG', 'CONF', 'LGPD', 'NEG']);\nlet activePersonas = (parsed.active_personas || []).filter(t => t !== 'GP');\n\nif (!Array.isArray(activePersonas) || activePersonas.length === 0) {\n  throw new Error('G2_INVALID: active_personas ausente ou vazio');\n}\nconst tagsInvalidas = activePersonas.filter(t => !TAGS_VALIDAS.has(t));\nif (tagsInvalidas.length > 0) {\n  throw new Error(`G2_INVALID: Tags não-canônicas: ${tagsInvalidas.join(', ')}`);\n}\n// Garante CONF e AUD sempre presentes\nif (!activePersonas.includes('CONF')) activePersonas.push('CONF');\nif (!activePersonas.includes('AUD')) activePersonas.push('AUD');\n// Mínimo 3\nif (activePersonas.length < 3) {\n  throw new Error(`G2_INVALID: active_personas deve ter mínimo 3 (recebido: ${activePersonas.length})`);\n}\nif (!parsed.doc_classification?.primary_type || !parsed.doc_classification?.sensitivity) {\n  throw new Error('G2_INVALID: doc_classification incompleto');\n}\nif (!parsed.shared_context?.summary) {\n  throw new Error('G2_INVALID: shared_context.summary ausente');\n}\n\n// expected_count = personas ativas + 1 (GP orquestrador)\nconst expectedCount = activePersonas.length + 1;\n\nreturn [{\n  json: {\n    ingestion_id: upstream.ingestion_id,\n    project_id: upstream.project_id,\n    normalized_text: upstream.normalized_text,\n    extraction_metadata: upstream.extraction_metadata,\n    provider_chain: upstream.provider_chain,\n    callback_url: upstream.callback_url,\n    doc_classification: parsed.doc_classification,\n    active_personas: activePersonas,\n    shared_context: parsed.shared_context,\n    chunking_strategy: parsed.chunking_strategy || 'single',\n    expected_count: expectedCount,\n    g2_validated_at: new Date().toISOString()\n  }\n}];\n"
      }
    },
    {
      "id": "conf-redis-bulk-set",
      "name": "Redis bulk-set",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 400],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/internal/redis/bulk-set",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ keys: { ['gca:ingestion:' + $json.ingestion_id + ':expected_count']: String($json.expected_count), ['gca:ingestion:' + $json.ingestion_id + ':shared_context']: JSON.stringify($json.shared_context), ['gca:ingestion:' + $json.ingestion_id + ':project_id']: $json.project_id, ['gca:ingestion:' + $json.ingestion_id + ':active_personas']: JSON.stringify($json.active_personas), ['gca:ingestion:' + $json.ingestion_id + ':callback_url']: $json.callback_url }, ttl_seconds: 3600 }) }}",
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "conf-preparar-dispatch",
      "name": "Preparar dispatch especialistas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 280],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "// Emite N items — 1 por persona ativa (sem GP)\n// HTTP Request seguinte itera automaticamente sobre todos\n// SEM require(), SEM $env\n\nconst upstream = $('Parse resposta e G2').first().json;\nconst {\n  ingestion_id, project_id, normalized_text, extraction_metadata,\n  provider_chain, callback_url, active_personas, shared_context,\n  doc_classification, chunking_strategy\n} = upstream;\n\nconst items = [];\nfor (const tag of active_personas) {\n  const tagLower = tag.toLowerCase();\n  const webhookUrl = `http://n8n:5678/webhook/gca-specialist-${tagLower}`;\n  const payload = {\n    ingestion_id, project_id, normalized_text, extraction_metadata,\n    provider_chain, callback_url, shared_context, doc_classification,\n    chunking_strategy, persona_tag: tag,\n    dispatched_at: new Date().toISOString()\n  };\n  items.push({\n    json: {\n      webhook_url: webhookUrl,\n      payload_json: JSON.stringify(payload),\n      persona_tag: tag\n    }\n  });\n}\nreturn items;\n"
      }
    },
    {
      "id": "conf-assinar-dispatch",
      "name": "Assinar cada dispatch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 280],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/internal/hmac/sign",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body_raw: $json.payload_json, secret_name: 'CONFERENTE_SECRET' }) }}",
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "conf-despachar-especialistas",
      "name": "Despachar especialistas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 280],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $('Preparar dispatch especialistas').item.json.webhook_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Conferente-Signature", "value": "={{ $json.signature }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $('Preparar dispatch especialistas').item.json.payload_json }}",
        "options": { "timeout": 5000 }
      }
    },
    {
      "id": "conf-preparar-gp",
      "name": "Preparar dispatch GP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 520],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "// Prepara dispatch para o GP Orquestrador (sempre ativado)\n// SEM require(), SEM $env\n\nconst upstream = $('Parse resposta e G2').first().json;\n\nconst payload = {\n  ingestion_id: upstream.ingestion_id,\n  project_id: upstream.project_id,\n  normalized_text: upstream.normalized_text,\n  extraction_metadata: upstream.extraction_metadata,\n  provider_chain: upstream.provider_chain,\n  callback_url: upstream.callback_url,\n  doc_classification: upstream.doc_classification,\n  active_personas: upstream.active_personas,\n  shared_context: upstream.shared_context,\n  chunking_strategy: upstream.chunking_strategy,\n  persona_tag: 'GP',\n  dispatched_at: new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    webhook_url: 'http://n8n:5678/webhook/gca-orchestrator-gp',\n    payload_json: JSON.stringify(payload),\n    persona_tag: 'GP'\n  }\n}];\n"
      }
    },
    {
      "id": "conf-assinar-gp",
      "name": "Assinar dispatch GP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 520],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/internal/hmac/sign",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body_raw: $json.payload_json, secret_name: 'CONFERENTE_SECRET' }) }}",
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "conf-despachar-gp",
      "name": "Despachar GP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 520],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/gca-orchestrator-gp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Conferente-Signature", "value": "={{ $json.signature }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $('Preparar dispatch GP').first().json.payload_json }}",
        "options": { "timeout": 5000 }
      }
    },
    {
      "id": "conf-log-dispatch-completo",
      "name": "Log - Dispatch completo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 400],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/internal/pipeline-log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ts: new Date().toISOString(), ingestion_id: $('Parse resposta e G2').first().json.ingestion_id || 'unknown', workflow: '02-conferente', node: 'dispatch', event: 'completed', persona_tag: null, duration_ms: 0, detail: 'Todas as personas despachadas com sucesso', error: null }) }}",
        "options": { "timeout": 5000 }
      }
    },
    {
      "id": "conf-handler-erro",
      "name": "Handler de erro global",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 600],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "// Handler global de erro — captura falhas dos nós anteriores\n// SEM require(), SEM $env\n\nconst errorData = $input.first();\nconst errorMessage = errorData.json.error?.message || errorData.json.message || 'Erro desconhecido no Conferente';\n\nlet ingestion_id = 'unknown';\nlet project_id = 'unknown';\ntry {\n  const wh = $('Webhook Trigger').first().json;\n  ingestion_id = wh.body?.ingestion_id || wh.ingestion_id || 'unknown';\n  project_id = wh.body?.project_id || wh.project_id || 'unknown';\n} catch (_) {}\n\nreturn [{ json: { ingestion_id, project_id, error: { message: errorMessage }, failed_at: new Date().toISOString() } }];\n"
      }
    },
    {
      "id": "conf-callback-erro",
      "name": "Callback erro ao GCA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 600],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/ingestion-complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ingestion_id: $json.ingestion_id || 'unknown', project_id: $json.project_id || 'unknown', status: 'failed', stage: 'conferente', reason: $json.error?.message || 'Erro desconhecido no Conferente', failed_at: new Date().toISOString() }) }}",
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "conf-log-erro",
      "name": "Log - Erro Conferente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 600],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/internal/pipeline-log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ts: new Date().toISOString(), ingestion_id: $json.ingestion_id || 'unknown', workflow: '02-conferente', node: 'error', event: 'failed', persona_tag: null, duration_ms: 0, detail: $json.error?.message || 'Erro no Conferente', error: $json.error?.message || 'unknown' }) }}",
        "options": { "timeout": 5000 }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Log - Inicio Conferente", "type": "main", "index": 0 }]]
    },
    "Log - Inicio Conferente": {
      "main": [[{ "node": "Verificar HMAC G1", "type": "main", "index": 0 }]]
    },
    "Verificar HMAC G1": {
      "main": [[{ "node": "G1 - Validar entrada", "type": "main", "index": 0 }]]
    },
    "G1 - Validar entrada": {
      "main": [[{ "node": "Montar prompt Conferente", "type": "main", "index": 0 }]]
    },
    "Montar prompt Conferente": {
      "main": [[{ "node": "LLM - Classificar", "type": "main", "index": 0 }]]
    },
    "LLM - Classificar": {
      "main": [[{ "node": "Parse resposta e G2", "type": "main", "index": 0 }]]
    },
    "Parse resposta e G2": {
      "main": [[{ "node": "Redis bulk-set", "type": "main", "index": 0 }]]
    },
    "Redis bulk-set": {
      "main": [
        [
          { "node": "Preparar dispatch especialistas", "type": "main", "index": 0 },
          { "node": "Preparar dispatch GP", "type": "main", "index": 0 }
        ]
      ]
    },
    "Preparar dispatch especialistas": {
      "main": [[{ "node": "Assinar cada dispatch", "type": "main", "index": 0 }]]
    },
    "Assinar cada dispatch": {
      "main": [[{ "node": "Despachar especialistas", "type": "main", "index": 0 }]]
    },
    "Despachar especialistas": {
      "main": [[{ "node": "Log - Dispatch completo", "type": "main", "index": 0 }]]
    },
    "Preparar dispatch GP": {
      "main": [[{ "node": "Assinar dispatch GP", "type": "main", "index": 0 }]]
    },
    "Assinar dispatch GP": {
      "main": [[{ "node": "Despachar GP", "type": "main", "index": 0 }]]
    },
    "Handler de erro global": {
      "main": [[{ "node": "Callback erro ao GCA", "type": "main", "index": 0 }]]
    },
    "Callback erro ao GCA": {
      "main": [[{ "node": "Log - Erro Conferente", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  }
}
