n8n-workflows/03-gca-orchestrator-gp.json
{
  "id": "gca-orchestrator-gp",
  "name": "03 - GCA Orchestrator GP",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "gca-pipeline-logger"
  },
  "nodes": [
    {
      "id": "node-webhook-gp",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "httpMethod": "POST",
        "path": "gca-orchestrator-gp",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "gca-orchestrator-gp"
    },
    {
      "id": "node-log-inicio-gp",
      "name": "Log - Inicio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/internal/pipeline-log",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ts: new Date().toISOString(), ingestion_id: $('Webhook Trigger').item.json.ingestion_id || '', workflow: 'gca-orchestrator-gp', node: 'Log - Inicio', event: 'started', persona_tag: 'GP', duration_ms: 0, detail: 'GP orchestrator iniciado', error: null }) }}",
        "options": {
          "retry": {
            "maxRetries": 3,
            "retryInterval": 2000
          },
          "timeout": 30000
        },
        "sendBody": true,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "node-hmac-verify-gp",
      "name": "Verificar HMAC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/internal/hmac/verify",
        "specifyBody": "json",
        "options": {
          "retry": {
            "maxRetries": 3,
            "retryInterval": 2000
          },
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "jsonBody": "={{ JSON.stringify({ body_raw: JSON.stringify($('Webhook Trigger').first().json.body || $('Webhook Trigger').first().json), signature: ($('Webhook Trigger').first().json.headers && ($('Webhook Trigger').first().json.headers['x-conferente-signature'] || $('Webhook Trigger').first().json.headers['X-Conferente-Signature'])) || '', secret_name: 'CONFERENTE_SECRET' }) }}"
      }
    },
    {
      "id": "node-validar-hmac-gp",
      "name": "Validar HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "const hmacResult = $json;\nif (!hmacResult.valid) {\n  throw new Error('HMAC invalido: assinatura recusada pelo backend');\n}\nconst webhookData = $('Webhook Trigger').item.json.body || $('Webhook Trigger').item.json;\nconst normalized_text = webhookData.normalized_text || '';\nconst provider_chain = webhookData.provider_chain || [];\nconst ingestion_id = webhookData.ingestion_id || '';\nconst shared_context = webhookData.shared_context || {};\n  const systemPrompt = webhookData.systemPrompt || '';\n  if (!systemPrompt) {\n    throw new Error('PROMPT_AUSENTE: systemPrompt nao fornecido pelo Conferente.');\n  }\nif (!normalized_text) {\n  throw new Error('Campo normalized_text ausente no payload');\n}\nif (!provider_chain || provider_chain.length === 0) {\n  throw new Error('Campo provider_chain ausente ou vazio no payload');\n}\nreturn [{ json: { normalized_text, provider_chain, ingestion_id, shared_context, systemPrompt, hmac_valid: true } }];"
      }
    },
    {
      "id": "node-montar-llm-request-gp",
      "name": "Montar LLM Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "const data = $json;\nconst provider = data.provider_chain[0];\nconst providerName = (provider.provider || 'openai').toLowerCase();\nconst apiKey = provider.api_key || '';\n\nconst systemPrompt = 'Você é o Gerente de Projetos (GP) — primeira persona técnica do Gatekeeper.\\n\\nSeu papel é validar:\\n1. **Escopo**: Requisitos funcionais estão completos e testáveis?\\n2. **Viabilidade**: É possível entregar com recursos e timeline planejados?\\n3. **Stakeholders**: Estão todos identificados? Há consenso?\\n4. **ROI**: O projeto agrega valor? Há riscos de negócio documentados?\\n\\nSEUS 6 OUTPUTS OBRIGATÓRIOS (em UMA resposta JSON):\\n\\n1. SCORES (0–100)\\n   - escopo: clareza e completude de requisitos\\n   - stack: alinhamento com capacidade da equipe\\n   - dados: modelo de dados faz sentido para os fluxos?\\n   - implementacao: timeline é realista?\\n   - testes: estratégia de aceite definida?\\n\\n2. APPROVED (bool)\\n   - true se pode proceder (escopo claro, stakeholders alinhados)\\n   - false se há blocker de negócio\\n\\n3. ISSUES (array)\\n   - Ambiguidades no escopo\\n   - Requisitos conflitantes\\n   - Stakeholders faltando\\n   - Timeline não realista\\n   - Riscos não documentados\\n\\n4. QUESTIONS (array)\\n   - Perguntas que PRECISAM de resposta humana para proceder\\n\\n5. JUSTIFICATION (texto)\\n   - Raciocínio resumido para aprovação/reprovação\\n\\n6. METADATA\\n   - tentative: true em passada 1, false em passada 2\\n\\nSem improviso. Se não houver insumo suficiente, declare incerteza explícita.\\n\\nRETORNE APENAS JSON VÁLIDO (sem markdown, sem ```).';\nconst userMessage = JSON.stringify({ passada: 1, normalized_text: data.normalized_text, shared_context: data.shared_context });\n\nlet llmUrl, requestHeaders, requestBody;\n\nif (providerName === 'anthropic') {\n  llmUrl = 'https://api.anthropic.com/v1/messages';\n  requestHeaders = {\n    'Authorization': `Bearer ${apiKey}`,\n    'anthropic-version': '2023-06-01',\n    'Content-Type': 'application/json'\n  };\n  requestBody = {\n    model: provider.model,\n    max_tokens: 4000,\n    temperature: 0.2,\n    system: systemPrompt,\n    messages: [{ role: 'user', content: userMessage }]\n  };\n} else if (providerName === 'openai') {\n  llmUrl = 'https://api.openai.com/v1/chat/completions';\n  requestHeaders = {\n    'Authorization': `Bearer ${apiKey}`,\n    'Content-Type': 'application/json'\n  };\n  requestBody = {\n    model: provider.model,\n    max_tokens: 4000,\n    temperature: 0.2,\n    messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: userMessage }]\n  };\n} else if (providerName === 'deepseek') {\n  llmUrl = 'https://api.deepseek.com/chat/completions';\n  requestHeaders = {\n    'Authorization': `Bearer ${apiKey}`,\n    'Content-Type': 'application/json'\n  };\n  requestBody = {\n    model: provider.model,\n    max_tokens: 4000,\n    temperature: 0.2,\n    messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: userMessage }]\n  };\n} else {\n  throw new Error(`Provider desconhecido: ${providerName}`);\n}\n\nreturn [{ json: { llmUrl, requestHeaders, requestBody, provider, ingestion_id: data.ingestion_id, shared_context: data.shared_context } }];"
      }
    },
    {
      "id": "node-llm-call-gp",
      "name": "LLM Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $json.llmUrl }}",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "sendHeaders": true,
        "options": {},
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify($json.requestHeaders) }}",
        "sendBody": true
      }
    },
    {
      "id": "node-parse-output-gp",
      "name": "Parse PersonaOutput",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "const llmResponse = $json;\nconst prevData = $('Montar LLM Request').item.json;\nlet rawContent = '';\nif (llmResponse.content && llmResponse.content[0] && llmResponse.content[0].text) {\n  rawContent = llmResponse.content[0].text;\n} else if (llmResponse.choices && llmResponse.choices[0] && llmResponse.choices[0].message) {\n  rawContent = llmResponse.choices[0].message.content;\n} else {\n  rawContent = JSON.stringify(llmResponse);\n}\nlet parsed = {};\ntry {\n  parsed = JSON.parse(rawContent);\n} catch (e) {\n  const match = rawContent.match(/\\{[\\s\\S]*\\}/);\n  if (match) { try { parsed = JSON.parse(match[0]); } catch (e2) { parsed = {}; } }\n}\nconst scores = parsed.scores || {};\nconst avgScore = Object.keys(scores).length > 0\n  ? Math.round(Object.values(scores).reduce((a, b) => a + Number(b), 0) / Object.keys(scores).length)\n  : 0;\nconst personaOutput = {\n  schema_version: 'PersonaOutput-v2',\n  score: avgScore,\n  findings: parsed.issues || [],\n  recommendations: parsed.recommendations || parsed.questions || [],\n  ocg_contributions: parsed.ocg_contributions && typeof parsed.ocg_contributions === 'object' ? { individual: parsed.ocg_contributions.individual || scores || {}, global_delta: parsed.ocg_contributions.global_delta || {} } : { individual: scores || {}, global_delta: {} },\n  blocking_reason: null,\n  persona_tag: 'GP',\n  persona_name: 'Gerente de Projetos',\n  ingestion_id: prevData.ingestion_id,\n  scores,\n  avg_score: avgScore,\n  approved: parsed.approved || false,\n  blocking: false,\n  issues: parsed.issues || [],\n  questions: parsed.questions || [],\n  justification: parsed.justification || '',\n  metadata: parsed.metadata || {}\n};\nreturn [{ json: { personaOutput, ingestion_id: prevData.ingestion_id } }];"
      }
    },
    {
      "id": "node-assinar-callback-gp",
      "name": "Assinar Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/internal/hmac/sign",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body_raw: JSON.stringify($json.personaOutput), secret_name: 'SPECIALIST_SECRET' }) }}",
        "options": {
          "retry": {
            "maxRetries": 3,
            "retryInterval": 2000
          },
          "timeout": 30000
        },
        "sendBody": true,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      }
    },
    {
      "id": "node-callback-consolidador-gp",
      "name": "Callback Consolidador",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/gca-consolidador-accumulate",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Parse PersonaOutput').item.json.personaOutput) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Specialist-Signature",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "options": {
          "retry": {
            "maxRetries": 3,
            "retryInterval": 2000
          },
          "timeout": 30000
        },
        "sendBody": true
      }
    },
    {
      "id": "node-log-fim-gp",
      "name": "Log - Concluido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/internal/pipeline-log",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ts: new Date().toISOString(), ingestion_id: $('Parse PersonaOutput').item.json.ingestion_id || '', workflow: 'gca-orchestrator-gp', node: 'Log - Concluido', event: 'completed', persona_tag: 'GP', duration_ms: 0, detail: 'score=' + $('Parse PersonaOutput').item.json.personaOutput.avg_score + ' findings=' + ($('Parse PersonaOutput').item.json.personaOutput.issues || []).length, error: null }) }}",
        "options": {
          "retry": {
            "maxRetries": 3,
            "retryInterval": 2000
          },
          "timeout": 30000
        },
        "sendBody": true,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Log - Inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Inicio": {
      "main": [
        [
          {
            "node": "Verificar HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar HMAC": {
      "main": [
        [
          {
            "node": "Validar HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar HMAC": {
      "main": [
        [
          {
            "node": "Montar LLM Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar LLM Request": {
      "main": [
        [
          {
            "node": "LLM Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Call": {
      "main": [
        [
          {
            "node": "Parse PersonaOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse PersonaOutput": {
      "main": [
        [
          {
            "node": "Assinar Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assinar Callback": {
      "main": [
        [
          {
            "node": "Callback Consolidador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Consolidador": {
      "main": [
        [
          {
            "node": "Log - Concluido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}