n8n-workflows/04-gca-specialist-aud.json
{
  "name": "GCA Specialist - AUD",
  "active": true,
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "alwaysOutputData": true,
      "webhookId": "gca-specialist-aud",
      "parameters": {
        "httpMethod": "POST",
        "path": "gca-specialist-aud",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Validar HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "// Validar X-Conferente-Signature HMAC-SHA256\nconst crypto = require('crypto');\nconst body = JSON.stringify($input.first().json.body);\nconst signature = $input.first().json.headers['x-conferente-signature'];\nconst expected = 'sha256=' + crypto.createHmac('sha256', $env.CONFERENTE_SECRET).update(body).digest('hex');\nif (signature !== expected) throw new Error('HMAC invГЎlido');\nreturn $input.all();"
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Montar prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "// Monta mensagem para LLM com system prompt da persona AUD\nconst systemPrompt = `VocГЄ Г© o Auditor Documental SГЄnior do sistema GCA.\n\nVocГЄ Г© a 8ВЄ persona do GCA, com role distinto das 7 personas tГ©cnicas:\n- VocГЄ lГЄ o documento completo (nГЈo recortes)\n- VocГЄ orienta a equipe tГ©cnica antes da anГЎlise comeГ§ar\n- VocГЄ tem permissГЈo EXPLГЌCITA de declarar incerteza\n- VocГЄ NГѓO improvisa quando faltam insumos\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSEUS 6 OUTPUTS OBRIGATГ“RIOS (em UMA resposta JSON)\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\n1. SUMMARY (в‰¤ 500 tokens)\n   VisГЈo executiva: objetivo, domГ­nio, mГіdulos principais, tipo de entrega.\n\n2. CHUNK_TAGS (multi-label)\n   Para cada chunk_id recebido, atribua tags de quais especialistas devem revisar.\n   Personas tГ©cnicas: GP, ARQ, DBA, DEV, QA, UX, UI\n\n3. HIGHLIGHTS (atenГ§ГЈo dirigida por persona)\n   Para cada uma das 7 personas tГ©cnicas, liste 1-3 pontos crГ­ticos.\n\n4. AUDIT_FINDINGS (seu OCG-parcial вЂ” auditoria documental)\n   Avalie: completude, consistГЄncia interna, clareza, estrutura, qualidade.\n\n5. BACKLOG_TO_SPECIALISTS\n   Incertezas resolvГ­veis por LLM. Limite absoluto: 10 itens.\n\n6. QUESTIONNAIRE_TO_HUMAN\n   Perguntas para validadores humanos (precisa info nГЈo no documento).\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nMODO SOLO\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nSe project_size_mode = \"solo\":\n- O GP responderГЎ TUDO. Aplique consolidaГ§ГЈo semГўntica AGRESSIVA.\n- Limite questionnaire_to_human a 5 itens.\n- target_human_role = \"gerente_projetos\" para TODAS.\n\nSe project_size_mode = \"small\": limite questionnaire = 8.\nSe project_size_mode = \"large\": limite questionnaire = 10.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nRETORNE APENAS JSON VГЃLIDO (sem markdown, sem \\`\\`\\`)\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ`;\nconst input = $input.first().json;\nconst userMessage = `Documento: ${input.body.document_text}\\n\\nContexto compartilhado: ${JSON.stringify(input.body.shared_context)}`;\n\n// Resolver provider da chain\nconst chain = input.body.provider_chain || [];\nconst provider = chain[0] || {provider: 'deepseek', model: 'deepseek-v4-pro'};\n\nreturn [{json: {systemPrompt, userMessage, provider, ingestion_id: input.body.ingestion_id, project_id: input.body.project_id, started_at: new Date().toISOString()}}];"
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "LLM Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $json.provider.provider === 'anthropic' ? 'https://api.anthropic.com/v1/messages' : 'https://api.deepseek.com/chat/completions' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "=={{ $json.provider.provider === 'anthropic' ? 'x-api-key' : 'Authorization' }}",
              "value": "={{ $json.provider.provider === 'anthropic' ? $json.provider.api_key : 'Bearer ' + $json.provider.api_key }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonBody": "={{ JSON.stringify($json.provider.provider === 'anthropic' ? {model: $json.provider.model, max_tokens: 2500, system: $json.systemPrompt, messages: [{role: 'user', content: $json.userMessage}]} : {model: $json.provider.model, max_tokens: 2500, messages: [{role: 'system', content: $json.systemPrompt}, {role: 'user', content: $json.userMessage}]}) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Parse PersonaOutput",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "// Parse resposta LLM e montar PersonaOutput\nconst input = $('Montar prompt').first().json;\nconst llmResponse = $input.first().json;\nconst content = llmResponse.content?.[0]?.text || llmResponse.choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry { parsed = JSON.parse(content); } catch(e) { parsed = {}; }\n\nconst output = {\n  schema_version: 'PersonaOutput-v2',\n  ingestion_id: input.ingestion_id,\n  persona_tag: 'AUD',\n  persona_name: 'Auditor Documental',\n  execution_metadata: {\n    started_at: input.started_at,\n    completed_at: new Date().toISOString(),\n    model_used: input.provider.model,\n    tokens_consumed: {input: llmResponse.usage?.prompt_tokens || llmResponse.usage?.input_tokens || 0, output: llmResponse.usage?.completion_tokens || llmResponse.usage?.output_tokens || 0}\n  },\n  score: parsed.SCORES ? Math.round(Object.values(parsed.SCORES).reduce((a,b) => a+b, 0) / Object.values(parsed.SCORES).length) : 50,\n  score_rationale: (parsed.JUSTIFICATION || parsed.summary || '').substring(0, 280),\n  blocking: false,\n  blocking_reason: null,\n  status: 'completed',\n  findings: (parsed.ISSUES || parsed.audit_findings?.issues || []).map((issue, i) => ({id: `finding-${i}`, severity: 'medium', category: 'documental', title: typeof issue === 'string' ? issue.substring(0, 120) : (issue.description || '').substring(0, 120), description: typeof issue === 'string' ? issue : (issue.description || '')})),\n  recommendations: [],\n  ocg_contributions: {individual: {summary: parsed.summary || '', chunk_tags: parsed.chunk_tags || {}, highlights: parsed.highlights || {}, audit_findings: parsed.audit_findings || {}, backlog_to_specialists: parsed.backlog_to_specialists || [], questionnaire_to_human: parsed.questionnaire_to_human || []}, global_delta: {}},\n  validation_self_report: {schema_version_check: true, score_in_range: true, evidence_excerpts_present: false, ocg_individual_non_empty: true, ocg_global_delta_non_empty: false}\n};\n\nreturn [{json: output}];"
      }
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Callback Consolidador",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL }}/webhook/gca-consolidador-accumulate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Specialist-Signature",
              "value": "=sha256={{ require('crypto').createHmac('sha256', $env.SPECIALIST_SECRET).update(JSON.stringify($json)).digest('hex') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validar HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar HMAC": {
      "main": [
        [
          {
            "node": "Montar prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar prompt": {
      "main": [
        [
          {
            "node": "LLM Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Call": {
      "main": [
        [
          {
            "node": "Parse PersonaOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse PersonaOutput": {
      "main": [
        [
          {
            "node": "Callback Consolidador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "gca-specialist-aud"
}