n8n-workflows/05-gca-specialist-arq.json
{
  "name": "GCA Specialist - ARQ",
  "active": true,
  "nodes": [
    {
      "id": "11223344-5566-7788-9900-aabbccddeeff",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "alwaysOutputData": true,
      "webhookId": "gca-specialist-arq",
      "parameters": {
        "httpMethod": "POST",
        "path": "gca-specialist-arq",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "22334455-6677-8899-00aa-bbccddeeff00",
      "name": "Validar HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "// Validar X-Conferente-Signature HMAC-SHA256\nconst crypto = require('crypto');\nconst body = JSON.stringify($input.first().json.body);\nconst signature = $input.first().json.headers['x-conferente-signature'];\nconst expected = 'sha256=' + crypto.createHmac('sha256', $env.CONFERENTE_SECRET).update(body).digest('hex');\nif (signature !== expected) throw new Error('HMAC inválido');\nreturn $input.all();"
      }
    },
    {
      "id": "33445566-7788-9900-aabb-ccddeeff0011",
      "name": "Montar prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "// Monta mensagem para LLM com system prompt da persona ARQ\nconst systemPrompt = `Você é o Arquiteto de Projetos (ARQ) — segunda persona técnica do Gatekeeper.\n\nSeu papel é validar:\n1. **Stack**: Tecnologias escolhidas são apropriadas para o escopo?\n2. **Integração**: Qual é a superfície de integração com sistemas legados?\n3. **Padrões**: Arquitetura segue padrões consolidados (MVC, DDD, event-driven, etc)?\n4. **Acoplamento**: Módulos estão desacoplados? Há dependências cíclicas?\n5. **Escalabilidade**: Sistema é escalável horizontal e vertical?\n6. **NFRs**: Atende requisitos não-funcionais (segurança, compliance, performance)?\n\nInclui análise de performance arquitetural (escolhas que afetam latência/throughput) — herdado da persona Performance v1.\n\nSEUS 6 OUTPUTS OBRIGATÓRIOS (em UMA resposta JSON):\n\n1. SCORES (0–100)\n   - stack: adequação das tecnologias ao escopo\n   - integracao: clareza da superfície de integração\n   - acoplamento: modularidade e independência\n   - escalabilidade: capacidade de crescimento\n   - nfr: cobertura de requisitos não-funcionais\n\n2. APPROVED (bool)\n   - true se a arquitetura é viável\n   - false se há problema estrutural bloqueante\n\n3. ISSUES (array)\n   - Tecnologias inadequadas\n   - Acoplamento alto\n   - Falta de modularidade\n   - Escalabilidade em dúvida\n   - Compliance ou segurança não cobertos\n\n4. QUESTIONS (array)\n   - Perguntas que PRECISAM de resposta para proceder\n   - Exemplos: \"Qual SLA esperado?\", \"Qual taxa de crescimento prevista?\"\n\n5. JUSTIFICATION (texto)\n   - Raciocínio resumido para aprovação/reprovação\n\n6. METADATA\n   - tentative: true em passada 1, false em passada 2\n\nSem improviso. Se não houver insumo suficiente, declare incerteza explícita.\n\nRETORNE APENAS JSON VÁLIDO (sem markdown, sem \\`\\`\\`).`;\nconst input = $input.first().json;\nconst userMessage = `Documento: ${input.body.document_text}\\n\\nContexto compartilhado: ${JSON.stringify(input.body.shared_context)}`;\n\n// Resolver provider da chain\nconst chain = input.body.provider_chain || [];\nconst provider = chain[0] || {provider: 'deepseek', model: 'deepseek-v4-pro'};\n\nreturn [{json: {systemPrompt, userMessage, provider, ingestion_id: input.body.ingestion_id, project_id: input.body.project_id, started_at: new Date().toISOString()}}];"
      }
    },
    {
      "id": "44556677-8899-0011-bbcc-ddeeff001122",
      "name": "LLM Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $json.provider.provider === 'anthropic' ? 'https://api.anthropic.com/v1/messages' : 'https://api.deepseek.com/chat/completions' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.provider.api_key }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "x-api-key",
              "value": "={{ $json.provider.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonBody": "={{ JSON.stringify($json.provider.provider === 'anthropic' ? {model: $json.provider.model, max_tokens: 2500, system: $json.systemPrompt, messages: [{role: 'user', content: $json.userMessage}]} : {model: $json.provider.model, max_tokens: 2500, messages: [{role: 'system', content: $json.systemPrompt}, {role: 'user', content: $json.userMessage}]}) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "55667788-9900-1122-ccdd-eeff00112233",
      "name": "Parse PersonaOutput",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "// Parse resposta LLM e montar PersonaOutput\nconst input = $('Montar prompt').first().json;\nconst llmResponse = $input.first().json;\nconst content = llmResponse.content?.[0]?.text || llmResponse.choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry { parsed = JSON.parse(content); } catch(e) { parsed = {}; }\n\nconst scores = parsed.SCORES || {};\nconst scoreValues = Object.values(scores).filter(v => typeof v === 'number');\nconst avgScore = scoreValues.length > 0 ? Math.round(scoreValues.reduce((a,b) => a+b, 0) / scoreValues.length) : 50;\n\nconst output = {\n  schema_version: 'PersonaOutput-v2',\n  ingestion_id: input.ingestion_id,\n  persona_tag: 'ARQ',\n  persona_name: 'Arquiteto de Projetos',\n  execution_metadata: {\n    started_at: input.started_at,\n    completed_at: new Date().toISOString(),\n    model_used: input.provider.model,\n    tokens_consumed: {input: llmResponse.usage?.prompt_tokens || llmResponse.usage?.input_tokens || 0, output: llmResponse.usage?.completion_tokens || llmResponse.usage?.output_tokens || 0}\n  },\n  score: avgScore,\n  score_rationale: (parsed.JUSTIFICATION || '').substring(0, 280),\n  blocking: false,\n  blocking_reason: null,\n  status: 'completed',\n  findings: (parsed.ISSUES || []).map((issue, i) => ({id: `finding-${i}`, severity: 'medium', category: 'arquitetura', title: typeof issue === 'string' ? issue.substring(0, 120) : (issue.description || '').substring(0, 120), description: typeof issue === 'string' ? issue : (issue.description || '')})),\n  recommendations: [],\n  ocg_contributions: {individual: scores, global_delta: {}},\n  validation_self_report: {schema_version_check: true, score_in_range: true, evidence_excerpts_present: false, ocg_individual_non_empty: true, ocg_global_delta_non_empty: false}\n};\n\nreturn [{json: output}];"
      }
    },
    {
      "id": "66778899-0011-2233-ddee-ff0011223344",
      "name": "Callback Consolidador",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL }}/webhook/gca-consolidador-accumulate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Specialist-Signature",
              "value": "=sha256={{ require('crypto').createHmac('sha256', $env.SPECIALIST_SECRET).update(JSON.stringify($json)).digest('hex') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validar HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar HMAC": {
      "main": [
        [
          {
            "node": "Montar prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar prompt": {
      "main": [
        [
          {
            "node": "LLM Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Call": {
      "main": [
        [
          {
            "node": "Parse PersonaOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse PersonaOutput": {
      "main": [
        [
          {
            "node": "Callback Consolidador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "gca-specialist-arq"
}
