n8n-workflows/11-gca-specialist-seg.json
{
  "id": "gca-specialist-seg",
  "name": "11 - GCA Specialist SEG",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "gca-pipeline-logger"
  },
  "nodes": [
    {
      "id": "node-webhook-seg",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "alwaysOutputData": true,
      "parameters": {
        "httpMethod": "POST",
        "path": "gca-specialist-seg",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "node-log-inicio-seg",
      "name": "Log - Inicio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/internal/pipeline-log",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ts: new Date().toISOString(), ingestion_id: $('Webhook Trigger').item.json.ingestion_id || '', workflow: 'gca-specialist-seg', node: 'Log - Inicio', event: 'started', persona_tag: 'SEG', duration_ms: 0, detail: 'SEG specialist iniciado', error: null }) }}",
        "options": {}
      }
    },
    {
      "id": "node-hmac-verify-seg",
      "name": "Verificar HMAC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/internal/hmac/verify",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body_raw: JSON.stringify($('Webhook Trigger').item.json), signature: $('Webhook Trigger').item.headers['x-conferente-signature'] || '', secret_name: 'CONFERENTE_SECRET' }) }}",
        "options": {}
      }
    },
    {
      "id": "node-validar-hmac-seg",
      "name": "Validar HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "const hmacResult = $json;\nif (!hmacResult.valid) {\n  throw new Error('HMAC invalido: assinatura recusada pelo backend');\n}\nconst webhookData = $('Webhook Trigger').item.json;\nconst normalized_text = webhookData.normalized_text || '';\nconst provider_chain = webhookData.provider_chain || [];\nconst ingestion_id = webhookData.ingestion_id || '';\nconst shared_context = webhookData.shared_context || {};\nif (!normalized_text) {\n  throw new Error('Campo normalized_text ausente no payload');\n}\nif (!provider_chain || provider_chain.length === 0) {\n  throw new Error('Campo provider_chain ausente ou vazio no payload');\n}\nreturn [{ json: { normalized_text, provider_chain, ingestion_id, shared_context, hmac_valid: true } }];"
      }
    },
    {
      "id": "node-montar-prompt-seg",
      "name": "Montar Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "const data = $json;\nconst provider = data.provider_chain[0];\nconst systemPrompt = 'Você é o Especialista em Segurança (SEG) do GCA.\\n\\nSeu papel é validar:\\n1. **OWASP Top 10**: As vulnerabilidades críticas estão mapeadas e mitigadas?\\n2. **Secrets e Credenciais**: Segredos estão protegidos (cofre, rotação, sem hardcode)?\\n3. **AuthN/AuthZ**: Autenticação e autorização estão bem definidas?\\n4. **Criptografia**: Dados sensíveis em repouso e em trânsito estão cifrados?\\n5. **Superfície de Ataque**: Qual é a superfície de ataque do sistema?\\n6. **Auditoria**: Há trilha de auditoria para ações críticas?\\n\\nSEUS 6 OUTPUTS OBRIGATÓRIOS (em UMA resposta JSON):\\n\\n1. SCORES (0–100)\\n   - owasp: cobertura das vulnerabilidades OWASP Top 10\\n   - secrets: proteção de credenciais e segredos\\n   - authn_authz: qualidade de autenticação e autorização\\n   - criptografia: cobertura de criptografia\\n   - superficie: dimensionamento da superfície de ataque\\n   - auditoria: completude da trilha de auditoria\\n\\n2. APPROVED (bool)\\n3. ISSUES (array)\\n4. QUESTIONS (array)\\n5. JUSTIFICATION (texto)\\n6. METADATA - tentative: true em passada 1, false em passada 2\\n\\nSem improviso. Se não houver insumo suficiente, declare incerteza explícita.\\nRETORNE APENAS JSON VÁLIDO (sem markdown, sem ```).';\nconst userMessage = JSON.stringify({ passada: 1, normalized_text: data.normalized_text, shared_context: data.shared_context });\nlet requestBody;\nconst providerType = (provider.provider_type || '').toLowerCase();\nif (providerType === 'anthropic') {\n  requestBody = { model: provider.model, max_tokens: 4000, temperature: 0.2, system: systemPrompt, messages: [{ role: 'user', content: userMessage }] };\n} else {\n  requestBody = { model: provider.model, max_tokens: 4000, temperature: 0.2, messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: userMessage }] };\n}\nreturn [{ json: { provider, requestBody, ingestion_id: data.ingestion_id } }];"
      }
    },
    {
      "id": "node-llm-call-seg",
      "name": "LLM Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $json.provider.api_url }}",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $json.provider.api_key }}" },
            { "name": "Authorization", "value": "=Bearer {{ $json.provider.api_key }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-parse-output-seg",
      "name": "Parse PersonaOutput",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "const llmResponse = $json;\nconst prevData = $('Montar Prompt').item.json;\nlet rawContent = '';\nif (llmResponse.content && llmResponse.content[0] && llmResponse.content[0].text) {\n  rawContent = llmResponse.content[0].text;\n} else if (llmResponse.choices && llmResponse.choices[0] && llmResponse.choices[0].message) {\n  rawContent = llmResponse.choices[0].message.content;\n} else {\n  rawContent = JSON.stringify(llmResponse);\n}\nlet parsed = {};\ntry {\n  parsed = JSON.parse(rawContent);\n} catch (e) {\n  const match = rawContent.match(/\\{[\\s\\S]*\\}/);\n  if (match) { try { parsed = JSON.parse(match[0]); } catch (e2) { parsed = {}; } }\n}\nconst scores = parsed.scores || {};\nconst avgScore = Object.keys(scores).length > 0\n  ? Math.round(Object.values(scores).reduce((a, b) => a + Number(b), 0) / Object.keys(scores).length)\n  : 0;\nconst personaOutput = {\n  persona_tag: 'SEG',\n  persona_name: 'Segurança',\n  ingestion_id: prevData.ingestion_id,\n  scores,\n  avg_score: avgScore,\n  approved: parsed.approved || false,\n  blocking: false,\n  issues: parsed.issues || [],\n  questions: parsed.questions || [],\n  justification: parsed.justification || '',\n  metadata: parsed.metadata || {}\n};\nreturn [{ json: { personaOutput, ingestion_id: prevData.ingestion_id } }];"
      }
    },
    {
      "id": "node-assinar-callback-seg",
      "name": "Assinar Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 300],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/internal/hmac/sign",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body_raw: JSON.stringify($json.personaOutput), secret_name: 'SPECIALIST_SECRET' }) }}",
        "options": {}
      }
    },
    {
      "id": "node-callback-consolidador-seg",
      "name": "Callback Consolidador",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/gca-consolidador-accumulate",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Parse PersonaOutput').item.json.personaOutput) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Specialist-Signature", "value": "={{ $json.signature }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-log-fim-seg",
      "name": "Log - Concluido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 300],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/internal/pipeline-log",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ts: new Date().toISOString(), ingestion_id: $('Parse PersonaOutput').item.json.ingestion_id || '', workflow: 'gca-specialist-seg', node: 'Log - Concluido', event: 'completed', persona_tag: 'SEG', duration_ms: 0, detail: 'score=' + $('Parse PersonaOutput').item.json.personaOutput.avg_score + ' findings=' + ($('Parse PersonaOutput').item.json.personaOutput.issues || []).length, error: null }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Log - Inicio", "type": "main", "index": 0 }]] },
    "Log - Inicio": { "main": [[{ "node": "Verificar HMAC", "type": "main", "index": 0 }]] },
    "Verificar HMAC": { "main": [[{ "node": "Validar HMAC", "type": "main", "index": 0 }]] },
    "Validar HMAC": { "main": [[{ "node": "Montar Prompt", "type": "main", "index": 0 }]] },
    "Montar Prompt": { "main": [[{ "node": "LLM Call", "type": "main", "index": 0 }]] },
    "LLM Call": { "main": [[{ "node": "Parse PersonaOutput", "type": "main", "index": 0 }]] },
    "Parse PersonaOutput": { "main": [[{ "node": "Assinar Callback", "type": "main", "index": 0 }]] },
    "Assinar Callback": { "main": [[{ "node": "Callback Consolidador", "type": "main", "index": 0 }]] },
    "Callback Consolidador": { "main": [[{ "node": "Log - Concluido", "type": "main", "index": 0 }]] }
  }
}
