n8n-workflows/15-gca-consolidador.json
{
  "id": "gca-consolidador-v3",
  "name": "GCA Consolidador — Workflow 15",
  "active": true,
  "nodes": [
    {
      "id": "cons-wh-01",
      "name": "Webhook Accumulate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gca-consolidador-accumulate",
      "alwaysOutputData": true,
      "parameters": {
        "httpMethod": "POST",
        "path": "gca-consolidador-accumulate",
        "responseMode": "onReceived",
        "responseCode": 202,
        "options": {}
      }
    },
    {
      "id": "cons-log-recebido",
      "name": "Log - Resultado recebido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/internal/pipeline-log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ts: new Date().toISOString(), ingestion_id: $json.body?.ingestion_id || $json.ingestion_id || 'unknown', workflow: '15-consolidador', node: 'webhook', event: 'persona_result_received', persona_tag: $json.body?.persona_tag || $json.persona_tag || null, duration_ms: 0, detail: 'Resultado de persona recebido', error: null }) }}",
        "options": { "timeout": 5000 }
      }
    },
    {
      "id": "cons-g4-validar",
      "name": "G4 - Validar PersonaOutput",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "// G4 — Validação pré-acumulação do PersonaOutput recebido\n// SEM require(), SEM $env\n\nconst webhookData = $('Webhook Accumulate').first().json;\nconst result = webhookData.body || webhookData;\n\nconst TAGS_VALIDAS = ['AUD', 'GP', 'ARQ', 'DBA', 'DEV', 'QA', 'UX', 'UI', 'SEG', 'CONF', 'LGPD', 'NEG'];\nconst errors = [];\n\nif (result.schema_version !== 'PersonaOutput-v2') {\n  errors.push(`schema_version inválido: '${result.schema_version}' (esperado PersonaOutput-v2)`);\n}\nif (!TAGS_VALIDAS.includes(result.persona_tag)) {\n  errors.push(`persona_tag '${result.persona_tag}' não canônica`);\n}\nif (typeof result.score !== 'number' || result.score < 0 || result.score > 100) {\n  errors.push(`score fora de 0-100: ${result.score}`);\n}\nif (!result.ocg_contributions || typeof result.ocg_contributions !== 'object') {\n  errors.push('ocg_contributions ausente');\n} else {\n  if (!result.ocg_contributions.individual) errors.push('ocg_contributions.individual ausente');\n  if (!result.ocg_contributions.global_delta) errors.push('ocg_contributions.global_delta ausente');\n}\nif (!result.ingestion_id) errors.push('ingestion_id ausente');\n\nreturn [{\n  json: {\n    result,\n    valid: errors.length === 0,\n    errors,\n    ingestion_id: result.ingestion_id || 'unknown',\n    persona_tag: result.persona_tag || 'unknown'\n  }\n}];\n"
      }
    },
    {
      "id": "cons-accumulate",
      "name": "Accumulate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "=http://gca-backend:8000/api/v1/webhooks/internal/ingestion/{{ $json.ingestion_id }}/accumulate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ persona_result: $json.valid ? $json.result : { persona_tag: $json.persona_tag, status: 'failed', errors: $json.errors }, persona_tag: $json.persona_tag, valid: $json.valid }) }}",
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "cons-if-todos",
      "name": "Todos chegaram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1200, 300],
      "alwaysOutputData": true,
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-all-received",
              "leftValue": "={{ $json.all_received }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "cons-calcular-scores",
      "name": "Calcular scores e merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 180],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "// Merge de todos os resultados com pesos por persona\n// REGRA DETERMINÍSTICA: CONF.score < 60 → blocked=true\n// SEM require(), SEM $env\n\nconst input = $input.first().json;\nconst results = input.all_results || [];\n\n// Pesos por persona — spec v2 §6.4\nconst PESOS = { CONF: 1.5, SEG: 1.3, LGPD: 1.3, QA: 1.1, AUD: 1.0, ARQ: 1.0, DBA: 1.0, GP: 1.0, NEG: 1.0, DEV: 0.9, UX: 0.8, UI: 0.7 };\n\nlet weightedSum = 0;\nlet totalWeight = 0;\nlet blocked = false;\nlet blockingReason = null;\nconst personasExecuted = [];\nconst personasFailed = [];\nconst mergedIndividual = {};\nconst mergedGlobalDelta = {};\nconst allFindings = [];\nconst allRecommendations = [];\n\nfor (const r of results) {\n  if (r.status === 'failed') {\n    personasFailed.push(r.persona_tag);\n    continue;\n  }\n  personasExecuted.push(r.persona_tag);\n  const w = PESOS[r.persona_tag] || 1.0;\n  weightedSum += r.score * w;\n  totalWeight += w;\n\n  // REGRA DETERMINÍSTICA: CONF < 60 → blocked\n  if (r.persona_tag === 'CONF' && r.score < 60) {\n    blocked = true;\n    blockingReason = `CONF: score ${r.score} < 60 (limiar de conformidade)`;\n  }\n  // Também respeita flag blocking do próprio resultado\n  if (r.blocking && !blocked) {\n    blocked = true;\n    blockingReason = `${r.persona_tag}: ${r.blocking_reason || 'score < 60'}`;\n  }\n\n  // Merge OCG\n  mergedIndividual[r.persona_tag] = r.ocg_contributions?.individual || {};\n  const delta = r.ocg_contributions?.global_delta || {};\n  for (const [k, v] of Object.entries(delta)) {\n    if (!mergedGlobalDelta[k]) {\n      mergedGlobalDelta[k] = v;\n    } else if (Array.isArray(v)) {\n      mergedGlobalDelta[k] = [...(mergedGlobalDelta[k] || []), ...v];\n    }\n  }\n\n  allFindings.push(...(r.findings || []).map(f => ({ ...f, source_persona: r.persona_tag })));\n  allRecommendations.push(...(r.recommendations || []).map(rec => ({ ...rec, source_persona: r.persona_tag })));\n}\n\nconst overallScore = totalWeight > 0 ? Math.round(weightedSum / totalWeight) : 0;\n\nconst finalResult = {\n  ingestion_id: input.ingestion_id,\n  project_id: input.project_id,\n  status: personasFailed.length > 0 ? 'partial' : 'completed',\n  overall_score: overallScore,\n  blocked,\n  blocking_reason: blockingReason,\n  personas_executed: personasExecuted,\n  personas_failed: personasFailed,\n  ocg_individual: mergedIndividual,\n  ocg_global_delta: mergedGlobalDelta,\n  consolidated_findings: allFindings,\n  consolidated_recommendations: allRecommendations,\n  callback_url: input.callback_url,\n  execution_summary: {\n    total_duration_ms: 0,\n    personas_count: personasExecuted.length,\n    personas_failed_count: personasFailed.length\n  },\n  completed_at: new Date().toISOString()\n};\n\nreturn [{ json: finalResult }];\n"
      }
    },
    {
      "id": "cons-assinar-callback",
      "name": "Assinar callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 180],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/internal/hmac/sign",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body_raw: JSON.stringify($json), secret_name: 'N8N_CALLBACK_SECRET' }) }}",
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "cons-callback-gca",
      "name": "Callback GCA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 180],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/ingestion-complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-N8N-Signature", "value": "={{ $json.signature }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Calcular scores e merge').first().json) }}",
        "options": {
          "timeout": 10000,
          "retry": {
            "maxRetries": 3,
            "retryInterval": 2000
          }
        }
      }
    },
    {
      "id": "cons-log-completo",
      "name": "Log - Pipeline completo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 180],
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "http://gca-backend:8000/api/v1/webhooks/internal/pipeline-log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ts: new Date().toISOString(), ingestion_id: $('Calcular scores e merge').first().json.ingestion_id || 'unknown', workflow: '15-consolidador', node: 'callback', event: 'pipeline_completed', persona_tag: null, duration_ms: 0, detail: 'Pipeline concluído — callback enviado ao GCA Backend', error: null }) }}",
        "options": { "timeout": 5000 }
      }
    }
  ],
  "connections": {
    "Webhook Accumulate": {
      "main": [[{ "node": "Log - Resultado recebido", "type": "main", "index": 0 }]]
    },
    "Log - Resultado recebido": {
      "main": [[{ "node": "G4 - Validar PersonaOutput", "type": "main", "index": 0 }]]
    },
    "G4 - Validar PersonaOutput": {
      "main": [[{ "node": "Accumulate", "type": "main", "index": 0 }]]
    },
    "Accumulate": {
      "main": [[{ "node": "Todos chegaram?", "type": "main", "index": 0 }]]
    },
    "Todos chegaram?": {
      "main": [
        [{ "node": "Calcular scores e merge", "type": "main", "index": 0 }],
        []
      ]
    },
    "Calcular scores e merge": {
      "main": [[{ "node": "Assinar callback", "type": "main", "index": 0 }]]
    },
    "Assinar callback": {
      "main": [[{ "node": "Callback GCA", "type": "main", "index": 0 }]]
    },
    "Callback GCA": {
      "main": [[{ "node": "Log - Pipeline completo", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
